node-red/flows.json
[{"id":"e9efdd9e.10e8f8","type":"mqtt out","z":"ba507df2.f095a8","name":"","topic":"demo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"69535ec4.9d939","x":310,"y":280,"wires":[]},{"id":"39c0121f.f0c55e","type":"inject","z":"ba507df2.f095a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["e9efdd9e.10e8f8"]]},{"id":"22f4eb61.494f34","type":"http request","z":"ba507df2.f095a8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.0.24","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":360,"wires":[["a5f0b830.a68578"]]},{"id":"a5f0b830.a68578","type":"debug","z":"ba507df2.f095a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":420,"wires":[]},{"id":"24470571.8096ca","type":"inject","z":"ba507df2.f095a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["22f4eb61.494f34"]]},{"id":"69535ec4.9d939","type":"mqtt-broker","name":"Pi3","broker":"pi3:1883","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]